*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Primary */
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-orange-yellow: hsl(39, 100%, 56%);
    --clr-green-teal: hsl(166, 100%, 37%);
    --clr-cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --clr-light-slate-blue: hsl(252, 100%, 67%);
    --clr-light-royal-blue: hsl(241, 81%, 54%);

    --clr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-light-lavender: hsl(241, 100%, 89%);
    --clr-dark-gray-blue: hsl(224, 30%, 27%);

    /* Font size paragraph */
    --font-size-paragraph: 18px;
}
body {
    font-family: "Hanken Grotesk", sans-serif;
    height: 100vh;
    background: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: var(--font-size-paragraph);
}
.component-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue));
    border-radius: 20px;
    box-shadow: -10px 10px 25px hsla(230, 82%, 71%, .4);
    z-index: 1;
}
.result-container > h2 {
    color: var(--clr-light-lavender);
    font-size: 1rem;
    margin-top: 20px;
}
.score__background {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    background: linear-gradient(var(--clr-violet-blue), var(--clr-persian-blue));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}
.score__background .score__text--large {
    font-size: 3.5rem;
    color: var(--clr-white);
    font-weight: 1000;
}
.score__background .score__text--small {
    color: var(--clr-light-lavender);
    opacity: .6;
    margin-top: -8px;
}
.result-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 40px;
}
.result-summary .result-summary__title {
    color: var(--clr-white);
    margin-bottom: 10px;
    opacity: .95;
}
.result-summary .result-summary__text {
    color: var(--clr-light-lavender);
    opacity: .8;
    font-weight: 500;
    width: 60%;
    text-align: center;
    line-height: 1.25;
}
.summary-container {
    --clr-light-gray-background: hsl(0, 0%, 97%);
    display: flex;
    flex-direction: column;
    width: 50%;
    background: var(--clr-light-gray-background);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 13px 0;
    margin-top: 5px;
    margin-left: -15px;
    box-shadow: 10px 10px 15px hsla(0, 1%, 67%, .4);
}
.summary-container > h2 {
    font-weight: 900;
    margin: 10px 25px 25px 75px;
}
.stats-container {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: -5px;
    margin: 0 35px;
}
.stats-container .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-right: 30px;
    margin: 7px 30px;
    font-weight: 600;
}
.stats .stats__identifier {
    font-weight: 800;
}
.stats .stats__identifier > img {
    translate: 0 4px;
    margin-right: 5px;
}
.stats.stats-reaction {
    background: hsl(0, 85%, 97%);
}
.stats.stats-reaction .stats__identifier {
    color: var(--clr-light-red);
}
.stats.stats-memory {
    background: hsl(58, 100%, 97%);
}
.stats.stats-memory .stats__identifier {
    color: var(--clr-orange-yellow);
}
.stats.stats-verbal {
    background: hsl(119, 100%, 97%);
}
.stats.stats-verbal .stats__identifier {
    color: var(--clr-green-teal);
}
.stats.stats-visual {
    background: hsl(240, 100%, 97%);
}
.stats.stats-visual .stats__identifier {
    color: var(--clr-cobalt-blue);
}
.stats__grade .shady-text {
    opacity: .4;
}
.continue-btn {
    margin: 30px auto;
    padding: 13px 120px;
    background: var(--clr-dark-gray-blue);
    color: var(--clr-white);
    font-weight: 600;
    border: 2px solid var(--clr-dark-gray-blue);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.continue-btn:hover {
    color: var(--clr-dark-gray-blue);
    background: var(--clr-white);
}

/* Media queries for tablet and small desktop */

@media (max-width: 768px) {
    .component-container {
        flex-direction: column;
        padding-top: 350px
    }
    .result-container, .summary-container {
        width: 100vw;
    }
    .continue-btn {
        margin-inline: 65px;
    }
}
@media (max-width: 540px) {
    .component-container {
        margin-top: 20px;
    }
    .result-container, .summary-container {
        margin: 10px 0;
    }
    .stats-container {
        margin: 0 10px; 
    }
}